{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Danh mục | Bảo hiểm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/danh-muc.css' %}">
</head>



<body>

  <!------------header------------>
  <div class="header">
      <nav>
        <ul>
          <li><a href="danh-muc.html">Hỏi đáp</a></li>
          <li><a href="#contact">Blog</a></li>
          <li><a href="#about">Nhà phát hành</a></li>
          <li><a href="#about">Danh mục</a></li>
        </ul>
      </nav>

       <h2 id="logo">bestcreditcard</h2>


  </div>
"{% static 'images/ ' %}"

  <div id="main">
    <img src="{% static 'images/cc-banner-education_3.png'%}">
    <div id="header-title">
      <h2>Thẻ tín dụng để trả phí bảo hiểm </h2>
      <p>Bạn có biết, nếu dùng thẻ tín dụng để thanh toán phí bảo hiểm, bạn sẽ được hoàn tiền đến 5%? <br>
        Cùng <b>bestcreditcard</b> tìm kiếm và lựa chọn chiếc thẻ tín dụng mang đến cho bạn nhiều ưu đãi <br>mua sắm nhất!</p>
    </div>

    <div id="dm-icon">
      <h4>Chọn thẻ tín dụng ưng ý cho nhu cầu của mình nhé!</h4>


      <div class="icon">
        <img src="{% static 'images/shopping.svg' %}" alt="Mua sắm">
        <p>Mua sắm</p>
      </div>
      <div class="icon">
        <img src="{% static 'images/0percent.svg ' %}"alt="Trả góp 0%">
        <p>Trả góp 0%</p>
      </div>
      <div class="icon">
        <a href="https://www.w3schools.com/cssref/css_colors.asp"></a>
        <img src="{% static 'images/airline.svg ' %}"alt="Dặm bay">
        <p>Dặm bay</p>
      </div>
      <div class ="icon">
        <img src="{% static 'images/traffic.svg ' %}"alt="Đi lại">
        <p>Đi lại</p>
      </div>
      <div class="icon">
        <img src="{% static 'images/insurance.svg ' %}" alt="Bảo hiểm">
      <p>Bảo hiểm</p>
      </div>
      <div class="icon">
        <img src="{% static 'images/online.svg ' %}" alt="Thanh toán online">
        <p>Thanh toán online</p>
     </div>
      <div class="icon">
        <img src="{% static 'images/freecard.svg ' %}"alt="Thẻ miễn phí">
        <p>Thẻ miễn phí</p>
     </div>

    </div><!--dm-icon-->


    <div class="card">
      <div class="top-card">
        <h3>Standard Chartered Thẻ Tín Dụng Platinum CashBack</h3>
        <h4>Đánh giá chung 5,0 / 5</h4>
      </div><!--top-card-->
      <div class="bottom-card">
        <img src="{% static 'images/221f6ee0-15b5-11e9-862b-05a9a238b808.png ' %}">
        <div class="bottom-card-title" >
          <p>
            Trả góp 0% tại hơn 230 đối tác (FPT Shop, Nguyễn Kim, <br>
            Điện máy xanh, Tiki, Edena, YOLA, TOPICA,...)<br>
            Yêu cầu thu nhập: 10.000.000đ<br>
            Phí thường niên: 1.000.000đ<br>
          </p>
          <button type="button">Chi tiết</button>
        </div><!--bottom-card-title-->
          <div class="button-card">
            <button type="button">Đăng ký</button>
            <button type="button">So sánh</button>
          </div><!--button-card-->
      </div><!--bottom-card-->
    </div><!--card-->

    <div class="card">
      <div class="top-card">
        <h3>Standard Chartered Thẻ Tín Dụng Platinum CashBack</h3>
        <h4>Đánh giá chung 5,0 / 5</h4>
      </div><!--top-card-->
      <div class="bottom-card">
        <img src="{% static 'images/221f6ee0-15b5-11e9-862b-05a9a238b808.png ' %}">
        <div class="bottom-card-title" >
          <p>
            Trả góp 0% tại hơn 230 đối tác (FPT Shop, Nguyễn Kim, <br>
            Điện máy xanh, Tiki, Edena, YOLA, TOPICA,...)<br>
            Yêu cầu thu nhập: 10.000.000đ<br>
            Phí thường niên: 1.000.000đ<br>
          </p>
          <button type="button">Chi tiết</button>
        </div><!--bottom-card-title-->
          <div class="button-card">
            <button type="button">Đăng ký</button>
            <button type="button">So sánh</button>
          </div><!--button-card-->
      </div><!--bottom-card-->
    </div><!--card-->

    <div class="card">
      <div class="top-card">
        <h3>Standard Chartered Thẻ Tín Dụng Platinum CashBack</h3>
        <h4>Đánh giá chung 5,0 / 5</h4>
      </div><!--top-card-->
      <div class="bottom-card">
        <img src="{% static 'images/221f6ee0-15b5-11e9-862b-05a9a238b808.png ' %}">
        <div class="bottom-card-title" >
          <p>
            Trả góp 0% tại hơn 230 đối tác (FPT Shop, Nguyễn Kim, <br>
            Điện máy xanh, Tiki, Edena, YOLA, TOPICA,...)<br>
            Yêu cầu thu nhập: 10.000.000đ<br>
            Phí thường niên: 1.000.000đ<br>
          </p>
          <button type="button">Chi tiết</button>
        </div><!--bottom-card-title-->
          <div class="button-card">
            <button type="button">Đăng ký</button>
            <button type="button">So sánh</button>
          </div><!--button-card-->
      </div><!--bottom-card-->
    </div><!--card-->

    <div class="card">
      <div class="top-card">
        <h3>Standard Chartered Thẻ Tín Dụng Platinum CashBack</h3>
        <h4>Đánh giá chung 5,0 / 5</h4>
      </div><!--top-card-->
      <div class="bottom-card">
        <img src="{% static 'images/221f6ee0-15b5-11e9-862b-05a9a238b808.png ' %}">
        <div class="bottom-card-title" >
          <p>
            Trả góp 0% tại hơn 230 đối tác (FPT Shop, Nguyễn Kim, <br>
            Điện máy xanh, Tiki, Edena, YOLA, TOPICA,...)<br>
            Yêu cầu thu nhập: 10.000.000đ<br>
            Phí thường niên: 1.000.000đ<br>
          </p>
          <button type="button">Chi tiết</button>
        </div><!--bottom-card-title-->
          <div class="button-card">
            <button type="button">Đăng ký</button>
            <button type="button">So sánh</button>
          </div><!--button-card-->
      </div><!--bottom-card-->
    </div><!--card-->

    <div class="card">
      <div class="top-card">
        <h3>Standard Chartered Thẻ Tín Dụng Platinum CashBack</h3>
        <h4>Đánh giá chung 5,0 / 5</h4>
      </div><!--top-card-->
      <div class="bottom-card">
        <img src="{% static 'images/221f6ee0-15b5-11e9-862b-05a9a238b808.png ' %}">
        <div class="bottom-card-title" >
          <p>
            Trả góp 0% tại hơn 230 đối tác (FPT Shop, Nguyễn Kim, <br>
            Điện máy xanh, Tiki, Edena, YOLA, TOPICA,...)<br>
            Yêu cầu thu nhập: 10.000.000đ<br>
            Phí thường niên: 1.000.000đ<br>
             Điện máy xanh, Tiki, Edena, YOLA, TOPICA,...)<br>
            Yêu cầu thu nhập: 10.000.000đ<br>
          </p>
          <button type="button">Chi tiết</button>
        </div><!--bottom-card-title-->
          <div class="button-card">
            <button type="button">Đăng ký</button>
            <button type="button">So sánh</button>
          </div><!--button-card-->
      </div><!--bottom-card-->
    </div><!--card-->
    </div>

    <div class="title">
      <h1>Bạn nghĩ sao nếu đóng phí bảo hiểm mà còn được hoàn lại tiền? <br>
       Để <b>bestcreditcard</b> chỉ bạn nhé! </h1>
       <br>
      <p>Bảo hiểm mang lại cho bạn sự an tâm. Bạn có biết, với thẻ tín dụng hoàn tiền, khi đóng phí bảo hiểm bạn còn được hoàn lại một khoản tiền nhỏ theo phần trăm số tiền bạn chi tiêu. Trả tiền bảo hiểm mà còn được hoàn tiền, thật tuyệt phải không nào?<br>

Nhiều thẻ tín dụng còn có các chương trình hợp tác với nhiều nhãn hàng và cửa hàng bán lẻ từ dịch vụ ăn uống, mua sắm đến tập luyện, đi lại với các tỷ lệ phần trăm hoàn tiền thay đổi (cao nhất là 10%). Lưu ý rằng, một vài ngân hàng đòi hỏi bạn phải giữ lại hóa đơn sau khi giao dịch để có sự đối chiếu rõ ràng khi muốn hoàn tiền.
      </p>

    </div>







   </div>
















<div class='footer'>
  <div id= 'f1'>
    <ul>
      <li><h3>Liên hệ</h3></li>
      <li><b>Hotline : </b> (028) 123456</li>
      <li><b>Email : </b>  ozark@hotmail.com</li>
      <li><b>Trụ sở : </b>  123 Nguyễn Chí Thanh , phường 1, quận 5, TPHCM </li>
    </ul>

    <div id="f1a">
        <img src="{% static 'images/fb.png ' %}" alt="Facebook">
        <img src="{% static 'images/tw.png ' %}" alt="Twitter">
        <img src="{% static 'images/insta.png ' %}" alt="Instagram">
        <img src="{% static 'images/linkin.png ' %}" alt="Linkin">
        <img src="{% static 'images/youtube.png ' %}" alt="Youtube">
    </div>
  </div>

  <div id ='f2'>
    <ul>
        <li><h3>Dành cho khách hàng</h3></li>
        <li><a href="#contact">Đăng ký tư vấn miễn phí</a></li>
        <li><a href="#contact">Gặp chuyên gia tư vấn</a></li>
        <li><a href="#about">Hướng dẫn mở tài khoản</a></li>
        <li><a href="#about">Cơ hội hợp tác và kinh doanh</a></li>
        <li><a href="#about">Bảng giá dịch vụ</a></li>
    </ul>
  </div>


  <div id='f3'>
    <ul>
        <li><h3>Giới thiệu</h3></li>
        <li><a href="#home">Trung tâm trợ giúp</a></li>
        <li><a href="#home">Thỏa thuận sử dụng</a></li>
        <li><a href="#home">Chính sách bảo mật</a></li>
        <li><a href="#home">Cơ hội việc làm</a></li>

        </ul>
  </div>

</div><!--footer-->

</body>
</html>
