{% extends "Products/base_product.html"%}
{% load staticfiles %}

{% block title %}
<title>Danh mục | Thẻ miễn phí</title>
{% endblock %}

{% block head-dm %}
<img src="{% static 'images/cc-banner-annual_2.png'%}">
<div id="header-title">
    <h2>Thẻ tín dụng miễn phí mở thẻ</h2>
    <p>Bạn đang tìm thẻ tín dụng miễn phí?<br>
       Hãy cùng <b>bestcreditcard</b>sẽ giúp bạn tìm kiếm chiếc thẻ tín dụng<br>
        có miễn phí thường niên và phí phát hành nhé!
    </p>
</div>
{% endblock %}

{% block card-tag %}
    {% for card in list_cart %}
        <div class="card">
            <div class="top-card">
                <h3>{{ card.name_card }}</h3>
                <h4>Đánh giá chung 5,0 / 5</h4>
            </div><!--top-card-->
            <div class="bottom-card">
                <img src="/media/{{ card.hinh_anh_sp }}">
                 <div class="bottom-card-title">
                    <p>
                        <b>Hạn mức :</b> {{ card.han_muc }}<br>
                        <b>Yêu cầu thu nhập:</b> {{ card.yeu_cau_thu_nhap }}<br>
                        <b>Phí thường niên:</b> {{ card.phi_thuong_nien }}<br>
                        <b>Phí phát hành :</b> {{ card.phi_phat_hanh }}<br>
                        <b>Số ngày miễn lãi :</b> {{ card.so_ngay_mien_lai }}<br>
                    </p>
                    <button type="button">
                            <a href="{{ card.get_absolute_url }}">Chi tiết</a>
                    </button>
                </div><!--bottom-card-title-->
                <div class="button-card">
                    <button type="button">
                        <a href="{% url 'form_register_customer' %}">Đăng ký</a>
                    </button>
                    <button type="button">So sánh</button>
                </div><!--button-card-->
             </div><!--bottom-card-->
        </div><!--card-->
    {% endfor %}
{% endblock %}

{% block dm-title %}
<div class="title">
    <h1>Bạn có muốn sử dụng thẻ mà không tốn phí? <br>
        Để <b>bestcreditcard</b> chỉ bạn nhé! </h1>
    <br>
    <p>Thẻ tín dụng miễn phí nghĩa là bạn sẽ không phải trả phí thường niên cho năm đầu
        , hoặc phí phát hành thẻ khi đăng ký mở thẻ.<br><br>

        Ngoài ra, các ngân hàng còn có chương trình tặng quà,
        khuyến mại vô cùng hấp dẫn khi mở thẻ dành cho khách hàng mới.
    </p>
</div>
{% endblock %}

