{% extends "Blog/base_blog.html"%}
{% load staticfiles %}

{% block title %}
<title>5 hành động vô tình khiến bạn bị đánh cắp thông tin thẻ</title>
{% endblock %}

{% block content %}
<div id="artical">
    <h1>5 hành động vô tình khiến bạn bị đánh cắp thông tin thẻ</h1>
    <img src="{% static 'images/centier-credit-cards.jpg' %}">
    <p>Trong thời đại công nghệ bùng nổ, vấn đề an ninh bảo mật và cách thức để chống lại tin tặc đánh cắp thông tin
        ngày càng được đề cao. Và thông tin trên chiếc thẻ tín dụng của bạn chính là miếng mồi ngon mà kẻ xấu luôn nhắm
        đến. GoBear sẽ chỉ ra 5 hành động vô tình khiến bạn bị đánh cắp thông tin thẻ tín dụng và cách để bạn có thể
        ngăn ngừa!
        <br>
        <br>
    <h2>1. Để quên thẻ tín dụng sau khi thanh toán</h2>
    <br>
    Nghe rất ngớ ngẩn, nhưng không ít người đã rơi vào trường hợp này vì chủ quan và lơ là khi đi mua sắm. Thử tưởng
    tượng, bạn vừa quẹt thẻ tín dụng để thanh toán một bộ trang phục mới thì nhìn thấy một số món phụ kiện nhỏ mà bạn có
    đủ tiền mặt để trả. Thế là bạn dùng tiền mặt luôn cho tiện và quên mất chiếc thẻ tín dụng vẫn đang nằm trên quầy
    tính tiền của cửa hàng.
    Đâu có ai cố tình đánh cắp thẻ tín dụng của bạn đúng không? Thế nhưng, chỉ cần chiếc thẻ rời khỏi tầm mắt của bạn
    vài phút, bất kì ai cũng có thể ghi lại thông tin trên thẻ tín dụng này bằng cách chụp lại thẻ, kể cả số bảo mật CVV
    phía sau!
    <br>
    Hãy ghi nhớ: Đừng lấy thẻ tín dụng ra nếu bạn không có ý định sử dụng; và khi đưa thẻ tín dụng cho nhân viên cửa
    hàng để thanh toán, hãy chắc rằng bạn quan sát được quá trình họ thực hiện việc thanh toán.
    <br>
    <br>

    <h2>2. Lưu thông tin thẻ tín dụng trên các trang web mua sắm</h2>
    <br>
    Với những trang web mua sắm trực tuyến quen thuộc như Lazada, Tiki, Amazon hay eBay, chúng ta ngày càng quen thuộc
    với sự tiện lợi của chiếc thẻ tín dụng khi thanh toán trên các cửa hàng trực tuyến này.
    <br>
    Tuy nhiên, cũng chính vì sự nhanh chóng và thuận tiện trên mà nhiều người đã mất cảnh giác và chọn cách lưu lại
    thông tin thẻ tín dụng trên các trang web này cho lần giao dịch sau. Đây là điều cực kỳ sai lầm! Bạn đã nghĩ đến
    trường hợp tin tặc tấn công các trang web này và thông tin thẻ tín dụng của bạn bị đánh cắp chưa?
    <br>
    Hãy ghi nhớ: Không bao giờ chọn “lưu mật khẩu” khi bạn được hỏi lúc thực hiện thanh toán trực tuyến trên trong bất
    kỳ trang web hay trình duyệt web nào.<br>
    <br>

    <h2>3. Nhận cuộc gọi từ nhân viên ngân hàng mạo danh</h2>
    <br>
    Đây là một hình thức lừa đảo phổ biến, những kẻ đánh cắp thông tin giả làm nhân viên ngân hàng, những ngân hàng có
    tiếng để hỏi về thông tin thẻ tín dụng của bạn để xác minh bạn không gặp vấn đề tài chính nào.
    <br>
    Nếu bạn chưa từng có giao dịch hay sử dụng sản phẩm nào ở ngân hàng được đề cập, chúng sẽ tiếp tục thuyết phục dựa
    trên lịch sử tín dụng của bạn để lừa lấy tiền từ thông tin thẻ tín dụng mà bạn tin tưởng cung cấp.
    <br>
    Làm sao để bảo vệ bản thân khỏi những cú lừa đảo này? Hãy tuân thủ nguyên tắc không bao giờ cung cấp thông tin thẻ
    tín dụng cho bất cứ ai qua điện thoại. Bạn hãy nhớ rằng, các ngân hàng sẽ không gọi điện cho khách hàng để yêu cầu
    cung cấp thông tin cá nhân, đặc biệt là thẻ tín dụng. Vì vậy, hãy dập máy nếu bạn nhận được cuộc gọi tương tự.
    <br>
    <br>
    <h2>Nếu bạn nghĩ mạng xã hội hạn chế trong việc xâm nhập thông tin cá nhân của bạn, hãy nghĩ lại một lần nữa!</h2>
    <br>
    Một số tin tặc đã tìm cách lừa đảo người khác và đánh cắp thông tin thẻ tín dụng hoặc tài khoản ngân hàng qua các
    phương tiện truyền thông xã hội. Đầu tiên, chúng sẽ kết bạn hoặc đánh cắp tài khoản mạng xã hội như
    <br>
    Facebook, Viber, Instagram…của người quen bạn và nhờ vả bạn đưa thông tin để chúng thực hiện một giao dịch gấp. Hãy
    nhớ những câu chuyện mua thẻ cào điện thoại, đó là một trong những bước khởi đầu cho việc lừa đảo những món tiền lớn
    hơn!
    <br>
    Cách thức để chống lại những thủ thuật lừa đảo này là khi bất cứ ai nhờ bạn chuyển tiền, mua đồ hay cung cấp thông
    tin thẻ tín dụng qua mạng, hãy gọi trực tiếp cho người đó để xác nhận. Nhưng tốt nhất, đừng giao thông tin của mình
    cho bất kỳ ai qua mạng!
    <br>
    <br>
    <h2>5. Những thiết bị lạ</h2>
    <br>
    Khi bạn thực hiện giao dịch thông qua các máy POS, các trang mạng, hãy lưu ý về những thiết bị hay trang mạng này.
    Bây giờ, nhiều kẻ đánh cắp thông tin đã chế tạo những đầu đọc lấy cắp thông tin được cài đặt tinh vi trong các máy
    POS. Hay đáng sợ hơn, chúng dựng nên những trang mạng giả để lưu thông tin khi bạn thực hiện giao dịch.
    <br>
    Như vậy, khi bạn cắm thẻ vào ở bất kỳ máy thanh toán nào, hãy đảm bảo kiểm tra xem có bất kỳ thiết bị lạ đính kèm
    hay không. Nếu thấy có điều gì đó đáng ngờ, đừng sử dụng thẻ tín dụng để thanh toán. Đọc thêm bài này để phòng tránh
    những thiết bị đọc trộm thông tin thẻ bạn nhé!
    <br>
    Cuối cùng, chỉ cần tuân thủ những quy tắc và ghi nhớ những hình thức gian lận trên, bạn đã có thể thở phào nhẹ nhõm
    phần nào trong việc bảo vệ thông tin thẻ tín dụng của mình.
    <br>
    Nếu bạn biết cách sử dụng và bảo vệ thẻ tín dụng, nó quả thật là một công cụ tiện ích cho bạn trong thời đại số ngày
    nay. Cùng GoBear tìm kiếm và so sánh các loại thẻ tín dụng phù hợp với nhu cầu của bạn.
    Với GoBear, mọi sự so sánh trở nên dễ dàng!
    </p>
</div>
{% endblock %}


