{% extends "Blog/base_blog.html"%}
{% load staticfiles %}

{% block title %}
<title>Bí quyết quản lý tài chính chi tiêu gia đình với thẻ tín dụng</title>
{% endblock %}

{% block content %}
<div id="artical">
    <h1>Bí quyết quản lý tài chính chi tiêu gia đình với thẻ tín dụng</h1>
    <img src="{% static 'images/credit-card.png' %}">
    <p>Những gia đình sống ở thành phố lớn luôn bị ám ảnh về việc phải có nhà, phải có xe… và bạn phải vất vả làm việc,
        tằn tiện chi tiêu để có được đủ đầy vật chất. Tuy nhiên, để đạt được những mục tiêu tài chính, bạn cần phải có
        kế hoạch chi tiêu thông minh. Hãy cùng tham khảo những bí kíp của GoBear để bạn có thể quản lý tài chính mình
        một cách hiệu quả.
        <br>
        <br>
    <h2>Xem xét chi tiêu của bản thân</h2>
    <br>
    Để giữ được chi tiêu của gia đình ở mức kiểm soát, bạn hãy luôn ghi nhớ một nguyên tắc: khi chi tiêu bất cứ khoản
    nào cho gia đình, số tiền tiêu phải luôn ít hơn số tiền thu nhập. Theo nhiều chuyên gia tài chính, bạn chỉ nên chi
    tiêu 70% số tiền kiếm được.
    <br>
    Trước khi bắt tay vào thực hiện kế hoạch tài chính cho gia đình, bạn cần nghiêm khắc nhìn nhận những khoản thu - chi
    trong từng tháng. Để quản lý thu - chi kỹ lưỡng, bạn có thể dùng thẻ tín dụng để thanh toán các hoá đơn. Những thông
    tin chi tiêu này sẽ được ngân hàng gửi cho bạn một cách chi tiết vào mỗi tháng. Như vậy, khi có cái nhìn tổng quát,
    bạn sẽ dễ dàng nhận thấy mỗi tháng khoản nào cả gia đình bạn phải chi trả nhiều.
    <br>
    <h2>Bắt đầu lên kế hoạch chi tiêu với thẻ tín dụng</h2>
    <br>
    Điều tiếp theo bạn cần làm là đưa ra quyết định cắt giảm những chi tiêu không cần thiết. Khi đăng ký mở thẻ tín
    dụng, bạn hãy xem xét nhu cầu của mình để lựa chọn phù hợp. Bạn dùng thẻ tín dụng chi tiêu để tích luỹ điểm thưởng,
    quy đổi dặm bay hay nhận tiền hoàn lại? Việc xác định này sẽ giúp bạn mua sắm sẽ tiện lợi hơn vì nhận được nhiều ưu
    đãi, nhận được quà tặng hay nhận được giảm giá. Ví dụ, nếu bạn mua sắm vật dụng cho gia đình trên Tiki, thanh toán
    bằng thẻ Sacombank sẽ giảm được 20%, hay bạn đi Uber bằng thẻ Standard Chartered cũng sẽ nhận được ưu đãi 25% tiền
    hoàn lại.
    <br>
    Khi có được ghi chép, lên kế hoạch mua sắm và cắt giảm chi tiêu, bạn sẽ kiểm soát được tài chính gia đình của mình
    và còn tiết kiệm được nhiều khoản. Nhất là đối với những cặp vợ chồng vừa cưới muốn mua nhà, sắm xe thì việc sử dụng
    thẻ tín dụng khôn ngoan sẽ là trợ thủ đắc lực, giúp sớm thực hiện mục tiêu của mình.
    <br>
    <h2>Thận trọng khi mở thêm thẻ tín dụng</h2>
    Thay vì mở nhiều thẻ tín dụng, bạn chỉ nên cân nhắc mở tối đa 2 thẻ để sử dụng chi tiêu cho toàn gia đình. Nếu có
    thể, thay vì sử dụng nhiều thẻ tín dụng thì các gia đình nên cân nhắc mở thẻ tín dụng phụ thay vì mở thêm một thẻ
    mới. Điều này sẽ giúp cho chi tiêu được quản lý chặt chẽ, sát sao hơn bởi lẽ việc chi tiêu vật dụng, ăn uống, đi
    chợ, đồ gia dụng trong gia đình “gom về một mối”. Còn khi có quá nhiều thẻ tín dụng, bạn sẽ dễ mất kiểm soát hoặc dễ
    xảy ra nhầm lẫn. Đó là chưa kể đến tình trạng nợ thẻ tín dụng, thanh toán chậm… sẽ khiến hồ sơ tín dụng của bạn bị
    đánh giá kém, dẫn đến nhiều khó khăn khi muốn vay tiền ngân hàng hoặc tăng hạn mức tín dụng.
    <br>
    Bên cạnh đó, khi chi tiêu trên thẻ tín dụng, bạn hãy cân nhắc mua những vật dụng thiết yếu nhất và cảnh giác với
    việc quen tay “quẹt thẻ” bạn nhé. Chỉ nên cân nhắc mua những thứ đã liệt kê trong danh sách, và hãy kiềm chế bản
    thân trước những thứ không cần thiết nhưng sẽ khiến bạn tốn nhiều tiền.
    <br>
    <h2>Lập sổ tiết kiệm</h2>
    <br>
    Nếu bạn độc thân, việc chi tiêu sẽ dễ dàng hơn vì bạn không phải cân nhắc quá nhiều các khoản chi tiêu. Thế nhưng
    khi bạn lập gia đình, có kế hoạch mua nhà, kế hoạch sinh con thì bạn phải lập nhiều danh sách mua sắm khác nhau. Vì
    thế, bên cạnh việc lập kế hoạch kỹ càng về việc chi tiêu trên thẻ tín dụng, bạn cũng nên có kế hoạch lập tài khoản
    tiết kiệm, buộc mình phải nghiêm túc tích luỹ tiền bạc, tài sản để phòng trừ những việc khẩn cấp cũng như để chuẩn
    bị mua sắm nhà cửa, xe cộ, kế hoạch sinh con.
    Rất đơn giản, hàng tháng đều đặn, bạn chỉ cần trích ra một khoản tiền nhỏ để gửi tiết kiệm ở một ngân hàng uy tín.
    Cho dù lãi suất vẫn không quá cao, nhưng quan trọng là khoản tiết kiệm này giúp bạn tích lũy được cho tương lai.
    Hàng tháng, bạn cũng có thêm một chút từ tiền lãi để trang trải thêm cho cuộc sống gia đình.
    <br>
    <h2>Hãy dùng thẻ tín dụng một cách thông minh</h2>
    <br>
    Thẻ tín dụng không chỉ là trợ thủ đắc lực giúp bạn ghi chép những chi tiêu trong tháng mà còn giúp bạn thực hiện kế
    hoạch tài chính của mình một cách nhanh chóng, tiện lợi. Vì thẻ tín dụng thường cấp cho bạn một hạn mức gấp 2-3 lần
    lương và bạn sẽ chỉ phải trả lại số tiền đã chi tiêu cho ngân hàng vào cuối tháng, nên nếu biết sắp xếp, bạn sẽ mua
    được những món hàng và sử dụng tiền hợp lý với giá cả phải chăng. Chưa kể, các ngân hang cũng liên tục có ưu đãi đối
    với các hạng thẻ nên sẽ giúp bạn “tiết kiệm” được một số tiền kha khá đấy.
    </p>
</div>
{% endblock %}




