{% extends "Blog/base_blog.html"%}
{% load staticfiles %}

{% block title %}
<title>Tại sao thẻ tín dụng lại là xu hướng thu hút</title>
{% endblock %}

{% block content %}
<div id="artical">
    <h1>Tại sao thẻ tín dụng là xu hướng thu hút?</h1>
    <img src="{% static 'images\debt.jpg'%}">
    <p>Tiền mặt đã thống lĩnh thị trường một thời gian dài. Mọi người mua sắm hàng ngày bằng tiền mặt và dùng những
        phương thức thanh toán khác khi mua những món hàng lớn hơn. Phải thừa nhận một điều, việc giữ một số tiền mặt
        lớn trong ví bao giờ cũng khiến bạn nơm nớp lo sợ. <br>
        Nhưng giờ đây, thẻ tín dụng đã được chấp nhận thanh toán gần như ở mọi nơi, nhiều người thậm chí còn không đem
        theo tiền mặt bên mình. Đây chính là thế mạnh khiến thẻ tín dụng trở thành xu hướng chung trong thời đại số.
        <br>
        Chưa kể, so với tiền mặt, thẻ tín dụng an toàn hơn, dễ dàng theo dõi chi tiêu hơn, và bạn có thể tích điểm để
        đổi thưởng mà không cần phải thay đổi thói quen chi tiêu, hơn nữa thanh toán bằng thẻ còn giúp bạn xây dựng điểm
        tín dụng nữa. Nếu hàng tháng bạn đều trả hết dư nợ tín dụng, thì bạn sẽ không phải lo tới việc phải trả lãi suất
        nợ tín dụng. <br>
        Hãy cùng điểm lại những tính năng "bất khả chiến bại" của thẻ tín dụng trong thị trường tài chính nhé! <br>
        An toàn
        Khi mất ví hay bị cướp, toàn bộ số tiền bạn mang theo sẽ mất. Tuy nhiên nếu tên cướp dùng thẻ tín dụng của bạn
        để mua sắm, bạn sẽ có thể vẫn lấy lại số tiền đã bị chi tiêu. <br>
        Vì vậy, ngay khi phát hiện bị mất thẻ, hãy thông báo ngay với ngân hàng phát hành để giảm thiểu tối đa thiệt hại
        từ việc kẻ gian có thể dùng thẻ để thanh toán, xử lý càng sớm khả năng thu hồi lại tiền bị mất càng cao. Thông
        thường, kể từ thời điểm ngân hàng nhận được thông báo mất thẻ và yêu cầu khoá thẻ của bạn, ngân hàng phải chịu
        toàn bộ trách nhiệm với những giao dịch lạ phát sinh về sau. <br> <br>
        Ở ưu điểm này, thẻ tín dụng "đánh bật" cả thẻ ghi nợ (debit) vì khi mất thẻ ghi nợ, người khác dùng thẻ của bạn
        thì số tiền trong tài khoản ngân hàng của bạn sẽ bị trừ ngay lập tức. Nếu bạn báo mất thẻ kịp thời thì bạn vẫn
        có khả năng được hoàn lại số tiền đã mất sau một khoảng thời gian, nhưng khả năng rủi ro cao hơn. <br> <br>
        Dễ theo dõi chi tiêu <br>
        Cho dù bạn có thói quen chi tiêu như thế nào thì việc theo dõi ngân sách cũng là thử thách, nhất là khi không
        nắm được mình đã tiêu tiền vào các khoản nào. Không ít bạn khi mất hoá đơn thì "vò đầu bứt tóc" tự hỏi tiền sao
        không cánh mà bay. <br>
        Tuy nhiên, với thẻ tín dụng, mọi thứ đều được ghi lại trong bản sao kê hàng tháng. Nếu ứng dụng vào quản lý chi
        tiêu, bạn còn có thể xuất dữ liệu ra từ thẻ tín dụng và tài khoản ngân hàng của mình. Điều này sẽ giúp bạn liệt
        kê các khoản chi vào từng mục riêng và biết được khoản nào mình đang chi quá tay và khoản nào mình có thể tiêu
        thoải mái hơn một chút.
        Đổi thưởng <br>
        Để khuyến khích khách hàng sử dụng thẻ tín dụng, các ngân hàng mở ra nhiều chương trình ưu đãi đặc biệt. Ví dụ,
        bạn có thể được hoàn tiền 2% khi mua tour du lịch, 10% hoặc nhiều hơn khi mua sắm ở một số trung tâm thương mại
        hay dùng bữa ở nhà hàng. Tùy từng ngân hàng và mặt hàng mua sắm mà bạn sẽ được hoàn tiền bằng tiền mặt, bằng
        điểm thưởng hay dặm bay. <br>
        Tuy nhiên, GoBear xin nhắc bạn một tẹo: Đừng bao giờ tiêu nhiều hơn bình thường chỉ để được điểm thưởng. Đó
        không phải là cách sử dụng tiền khôn ngoan! Được thưởng một ít tiền sẽ chẳng là gì so với số tiền tiêu quá tay
        vào hàng hóa hay quần áo. Và nếu bạn mang nợ tín dụng từ tháng này sang tháng kia, tiền lãi bạn phải trả có thể
        còn nhiều hơn số tiền bạn được thưởng, do đó hãy chi tiêu hợp lý khi có thể nhé! <br>
        Xây dựng điểm tín dụng <br>
        Để dễ dàng mở thẻ tín dụng hay vay tín chấp, bạn cần phải có điểm tín dụng cao - một khái niệm phổ biến trên thế
        giới nhưng vẫn còn khá mới mẻ ở Việt Nam. Về cơ bản, điểm tín dụng là cơ sở để ngân hàng hay các tổ chức tín
        dụng, cho vay căn cứ vào khi đánh giá tín nhiệm của bạn. Điểm tín dụng được tính dựa vào lịch sử thanh toán, các
        khoản nợ, thời gian thanh toán nợ của một cá nhân. <br>
        Chi tiêu thẻ tín dụng một cách cẩn thận sẽ cải thiện điểm tín dụng của bạn, và số điểm tốt sẽ đem lại nhiều
        thuận lợi sau này. Ví dụ như bạn sẽ mua nhà dễ hơn - khi người chủ nhà kiểm tra tình hình tín dụng của bạn trước
        khi đồng ý bán, hay khi bạn phải chứng minh khả năng chi trả khi bắt đầu mua nhà trả góp. <br>
        Tóm lại, việc chi tiêu thường xuyên, luôn giữ mức nợ tín dụng thấp và thanh toán dư nợ đúng hạn sẽ giúp bạn có
        điểm tín dụng tốt. <br>
        Vậy thì khi nào không nên dùng thẻ tín dụng? <br>
        Khi bạn không muốn chi tiêu quá tay! Nhiều người gặp khó khăn khi quản lý chi tiêu của mình khi dùng thẻ tín
        dụng. Ví dụ như bạn có hạn mức tín dụng lên đến vài chục triệu đồng đến hàng trăm triệu sẽ càng khiến bạn khó
        kiềm lòng trước món hàng hấp dẫn. Nếu bạn là người không giỏi quản lý chi tiêu và đã chi tiêu gần bằng hạn mức
        tín dụng của mình và bạn lo lắng nợ tín dụng tháng này sẽ cao, hãy dùng thẻ ghi nợ hay tiền mặt. <br>
        Như GoBear đã chia sẻ, khách hàng sẽ có rất nhiều lợi ích khi dùng thẻ tín dụng. Nhưng suy cho cùng, cho dù dùng
        hình thức thanh toán nào đi chăng nữa, bạn phải thật tỉnh táo để chi tiêu thật thông minh. <br>

    </p>
</div>
{% endblock %}

